[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "batchscr"]
	path = batchscr
	url = https://github.com/sherrisherry/batchscr
[submodule "cleandata"]
	path = cleandata
	url = https://github.com/sherrisherry/cleandata
